

@media (min-width: 600px) {
    .header-layout-container {
        max-width: var(--container-tablet);
        /* 576px */
    }
}

@media (min-width: 960px) {
    .header-layout-container {
        max-width: var(--container-small-laptop);
        /* 928px */
    }
}

@media (min-width: 1280px) {
    .header-layout-container {
        max-width: var(--container-desktop);
        /* 1290px */
    }
}